/* Styling for the input div */
.filter-data {
    margin-bottom: 45px;
    text-align: center;
    color: rgb(250, 244, 237);
    background-color: cadetblue;
}

.sub-header {
    text-align: center;
    text-shadow: 2rem;
}

.input-box {
    margin-bottom: 45px;
}